* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #db3a00;
}

.grid {
  position: relative;
  z-index: 2;
}
@font-face {
  font-family: "Grotesk";
  src: url("/fonts/protogrotesk-regular.otf") format(".otf");
}
h1 {
  font-family: "Grotesk", sans-serif;
  color: #fff0bd;
  font-size: 50px;
}

p {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

h2 {
  font-family: "Cherry Bomb One", system-ui;
  color: #fff0bd;
  font-size: 25px;
}
h3 {
  font-family: "Cherry Bomb One", system-ui;
  color: #db3a00;
  font-size: 25px;
}
h4 {
  font-family: "Cherry Bomb One", system-ui;
  color: #db3a00;
  font-size: 25px;
}
h5 {
  font-family: "Cherry Bomb One", system-ui;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
li {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 14px;
}
@media (width > 1087px) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }

  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 22px;
  }
  li {
    font-size: 20px;
  }
}
