---
import Image from "astro/components/Image.astro";
import Fredagsbar from "../img/fredagsbar.webp";
import Subtract from "../img/subtract.svg";
import Header from "../components/Header.astro";
---

<!-- <h1>CAFE</h1> -->
<section class="hero">
  <Image src={Fredagsbar} alt="fredagsbar" class="bg" />
  <Image src={Subtract} alt="logo" class="overlay" />
  <Header class="nav" />
  <h1>CAFE</h1>
</section>

<style>
  .hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    inset: 0;
    /* background: #d84300; */
    z-index: 1;
    height: 95vh;
    width: 85vw;
    place-self: center;
    display: block;
    object-fit: cover;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
</style>
